@use "../styles/mixins.import";
@use "../styles/theme.import.scss";

#app {

    border-radius: 0;

    padding: 0;

    &, .mat-card-content {
        overflow: auto;
        min-height: calc(100vh);
    }

    @media only screen and (max-width: 600px) {
        width: 100%;
        padding-top: 0;
        @include mixins.mx(0);
        @include mixins.my(0);
    }
}

#navbar {
    width: 100%;
    height: 50px;

    z-index: 100;
}

.noSticky{
    position:static;
    transition: 0.2s linear;
    top: -50px;
}

.sticky{
    top: 0;
    position: sticky;
    transition: 0.2s linear;
}

#router-outlet {

}

#site-footer {
    @include mixins.my(2rem);
}

#api-status {
    font-size: 8px;
}
