@import "../styles/mixins.import";

#app {
    $margin-y: 3rem;
    @include mx(4ex);
    @include my($margin-y);

    padding: 0;

    &, .mat-card-content {
        overflow: auto;
        min-height: calc(100vh - #{$margin-y} * 2);
    }

    @media only screen and (max-width: 600px) {
        width: 100%;
        padding-top: 0;
        @include mx(0);
        @include my(0);
    }
}

#navbar {
    width: 100%;
    height: 4rem;

    position: sticky;
    top: 0;
}

#site-banner { }

#router-outlet {
    @include px(2rem);
    @include py(1.5rem);
}

#site-footer {
    @include my(2rem);
}
