.requiredAsterisk {
    &.show {
        display: block;
    }

    display: none;
    color: darkred;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.icon-display {
    transform: scale(.7);
}

.kibana-mat-icon-button {
    padding: 0;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 5px;
    background-color: aqua;
    color: black;
    border: none;
}
