.checklist-taxon-search-options {
    position: relative;
    margin-top: 1rem;
    float: right;
    right: 0;
    width: 25%;
    max-width: 100%;
}

.checklist-upload-form {
    margin-bottom: 1rem;
}

.filter-box {
    padding: 1rem;
}

.heading-secondary {
    font-size: 1.1rem;
    font-weight: 500;
    letter-spacing: 1px;
}

.heading-tertiary {
    font-size: 1rem;
}

.title-holder {
    text-align:center;
    width: 100%;
}

.checklist-upload-taxon-title {
    font-size: 1.2rem !important;
}

.radio-button {
    display: block !important;
    margin-bottom: 10px !important;
}

input {
    height: 80%;
    width: 100%;
}

.successMessage {
    padding: 0 0 1rem 0;
    color: green;
}

.errorMessage {
    padding: 0 0 1rem 0;
    color: rgb(255, 32, 32);
}

