#add-user-container {
    width: 30rem;
    max-width: 100%;
    margin: 0 auto !important;
    padding-top: 1rem;
    margin: 2rem;
}

#add-user-card {
    margin: 0 auto !important;
}

mat-form-field {
    width: 100%;
}

#add-user-form {
    margin: 0 auto !important;
}

table {
    width: 100%;
    margin: 0 auto;
}

@media only screen and (max-width: 600px) {
    .data-container {
        width: 100% !important;
    }
}

.color-edit {
    background-color: #365896 !important;
    color: #fff;
}

.color-delete {
    background-color: #f25252 !important;
    color: #fff;
}

button {
    margin-right: .4rem;
}