#add-user-container {
    width: 30rem;
    max-width: 100%;
    margin: 0 auto !important;
    padding-top: 1rem;
    margin: 2rem;
}

#add-user-card {
    margin: 0 auto !important;
}

mat-form-field {
    width: 100%;
}

#add-user-form {
    margin: 0 auto !important;
}