#update-user-container {
    width: 50rem;
    max-width: 100%;
    margin: 0 auto !important;
    padding-top: 1rem;
    margin: 2rem;
}

#update-user-card {
    margin: 0 auto !important;
}

mat-form-field {
    width: 100%;
}

#update-user-form {
    margin: 0 auto !important;
}

.auto-width{
    .mat-form-field {
        width: auto !important;
    }
    .mat-select-value {
        max-width: 100%;
        width: auto;
    }  
}

.color-delete:not(:disabled) {
    background-color: #f25252 !important;
    color: #fff;
  }

  .input-update {
    padding: 0.4rem;
    border: 1px solid #dedede;
    border-radius: 0.3rem;
  }

  .unSelect {
    display: none;
  }