<p>Are you sure you want to delete this {{data}}? </p>
<div mat-dialog-actions>
    <button mat-button mat-dialog-close=false>Cancel</button>
    <button mat-button mat-dialog-close=true>Delete</button>
</div>