$rowBackground: white;

#main{
    margin: 1rem;
}

table.mat-table {
    width: 100%;

    // .table-row:hover {
    //     cursor: pointer;
    //     background: $rowBackground;
    //     background: darken($rowBackground, 10%);
    // }

    .table-row td:nth-child(2):hover,
    .table-row td:nth-child(3):hover {
        cursor: pointer;
        background: $rowBackground;
        background: darken($rowBackground, 10%);
    }
}

.browseToCollectionIcon {
    .mat-icon {
        vertical-align: middle;
    }

    &:visited {
        color: initial;
    }
}
