@use "../../../styles/mixins.import";

.mat-form-field {
    @include mixins.mx(1rem);

    min-width: 10rem;
    width: 100%;
}

form {
    margin-top: 2rem;
}

#password-reset {
    .mat-form-field {
        max-width: 50%;
    }
}

#edit-btns, #reset-btns {
    margin: 1rem;
}

#edit-btns {
    text-align: end;

    button {
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }
}

#isPublic {
    @include mixins.mx(1rem);
    @include mixins.my(1.5rem);
}

#role-tab div{
    @include mixins.my(1rem);
    margin: 1rem !important;
}

.role-detail {
    font-size: 85%;
    font-weight:bold;
}
