$rowBackground: white;

#main{
    margin: 1rem;
}

.download-box {
    display: flex;
    padding: 1.5rem;
    border-radius: 2px;
    font-size: 15px;
    box-shadow: 0 2px 3px rgba(0,0,0,0.3)
}

.font-size-80 {
    font-size: 80%;
}

.download-description {
    font-size: 16px;
    line-height: 1.6;
}

.download-btn {
    border: none;
    padding: 5px 10px;
    border-radius: 2px;
    background-color: seagreen;
    color: white;
    cursor: pointer;
}

.icon {
    font-size: 15px;
    cursor: pointer;
}

.download-box-options form > div {
    display: flex;
    gap: 1.5rem;
    margin-bottom: 1.3rem;
    font-weight: 600;
}

.download-box-options form > div p:first-child {
    flex: 0 1 35%;
}

.download-box-options form > div p:last-child {
    flex: 0 1 70%;
}

.download-box-options form > div p:last-child > * {
    margin-bottom: 7px;
}

// .download-box-options p {
//     // display: flex;
//     // flex-direction: column;
//     margin-bottom: 2rem;
// }

// .download-box-value p > * {
//     margin-bottom: .7rem;
// }


// Tooltip

[data-md-tooltip] {
    position: relative;
  }
  [data-md-tooltip]:before,
  [data-md-tooltip]:after {
      content: attr(data-md-tooltip);
      position: absolute;
      bottom: -35px;
      left: 50%;
      padding: 8px;
      transform: translateX(-50%) scale(0);
      transition: transform 0.3s ease-in-out;
      transform-origin: top;
      background: #616161e6;
      color: white;
      border-radius: 2px;
            font-size: 12px;
      font-family: Roboto,sans-serif;
      font-weight: 400;
  }
  [data-md-tooltip]:hover:before {
    transform: translateX(-50%) scale(1); 
  }