@use "apps/ui/src/styles.scss";
@use "apps/ui/src/styles/theme.import";

a {
    &:active, &:focus {
        outline: none;
    }
}

.collection-logo {
    display: block;
    background: scale-color(theme.$accentColor, $alpha: -90%);
    border-radius: 5%;
    object-fit: cover;
    width: 150px;
    height: 150px;
}
