@use "apps/ui/src/styles.scss";
@use "apps/ui/src/styles/theme.import.scss";


.s2-page-title{
    color: theme.$primaryColor;
    font-size: xx-large;
    margin-bottom: 2rem;
}

.form{
    max-width: 800px;
}
