<mat-card class="mat-elevation-z0">
    <mat-card-title class="s2-page-title">
        <b><symbiota2-editable-text key='collection.create_collection.title'></symbiota2-editable-text></b>
    </mat-card-title>
    <mat-card-content class="form">
        <symbiota2-create-collection-form id="s2-create-form"></symbiota2-create-collection-form>
    </mat-card-content>
</mat-card>