ul {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    vertical-align: text-top;
    position: absolute;
    top: 10px;
}

mat-expansion-panel {
    margin-bottom: 5px;
    margin-left: 5%;
    margin-right: 5%;
}

mat-grid-list {
    background: #C4C4C425;
    // border: 1px solid grey;
    border-radius: 8px;

}

mat-grid-tile {
    //background-color: rgba(146, 139, 30, 0.61);
    //border-radius: 10px;
    vertical-align: top;
}



mat-grid-tile div {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    //text-align: start;
    //align-items: flex-start;
    padding: 0px;

}

h3 {
    font-weight: bold;
}

.perms-row {
    height: fit-content;
    //background-color: blueviolet;
}

.profile-row {
    border-bottom: 1px solid grey;

}

#profile-tile1 {
    border-right: 1px solid grey;
}

#userListDiv {
    margin-left: 10%;
    margin-right: 10%;
}

#submit-div {
    display: flex;
    align-items: flex-end;
    text-align: right;

}

button {
    text-align: right;
    margin-left: auto;
    margin-right: 0;
}

.permission_form {
    width: 100%;
    height: 100%;
}


table {
    width: 95%;
  }