<div id="userListDiv">
    <mat-accordion multi="True">
        <mat-expansion-panel *ngFor="let userPanel of userPanelList" (opened)="panelOpenState = true"
            (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    {{userPanel.user.firstName}} {{userPanel.user.lastName}}
                </mat-panel-title>
                <mat-panel-description>
                    {{userPanel.user.username}}
                </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-grid-list cols="2" rowHeight="100px" columnWidth=" 100px">
                <mat-grid-tile class="profile-row" id="profile-tile1">
                    <div>
                        <ul>
                            <li><strong>Title: </strong>{{userPanel.user.title ? userPanel.user.title : 'Not
                                specified'}}</li>
                            <li><strong>Institution: </strong>{{userPanel.user.institution ? userPanel.user.institution
                                : 'Not specified'}}
                            </li>
                            <li><strong>City: </strong>{{userPanel.user.city ? userPanel.user.city : 'Not specified'}}
                            </li>
                            <li><strong>State: </strong>{{userPanel.user.state ? userPanel.user.state : 'Not
                                specified'}}</li>
                        </ul>
                    </div>
                </mat-grid-tile>
                <mat-grid-tile class="profile-row" id="profile-tile2">
                    <div>
                        <ul>
                            <li><strong>Country: </strong>{{userPanel.user.country ? userPanel.user.country : 'Not
                                specified'}}</li>
                            <li><strong>Email: </strong>{{userPanel.user.email ? userPanel.user.email : 'Not
                                specified'}}</li>
                            <li><strong>URL: </strong>{{userPanel.user.url ? userPanel.user.url : 'Not specified'}}</li>
                            <li><strong>Username: </strong>{{userPanel.user.username ? userPanel.user.username : 'Not
                                specified'}} (Last
                                login: {{userPanel.user.lastLogin ? userPanel.user.lastLogin : "Unknown"}})</li>

                        </ul>
                    </div>
                </mat-grid-tile>
                <mat-grid-tile class="perms-row" id="SitePerms" [rowspan]=1.5>
                    <div>
                        <ul>
                            <li>
                                <h3>Sitewide Permissions</h3>
                            </li>
                            <li>
                                <mat-checkbox class="site-perm">Super Administrator</mat-checkbox>
                            </li>
                            <li>
                                <mat-checkbox class="site-perm">Taxonomy Editor</mat-checkbox>
                            </li>
                            <li>
                                <mat-checkbox class="site-perm">Taxonomy Profile Editor</mat-checkbox>
                            </li>
                            <li>
                                <mat-checkbox class="site-perm">Identification Key Administrator</mat-checkbox>
                            </li>
                            <li>
                                <mat-checkbox class="site-perm">Identification Key Editor</mat-checkbox>
                            </li>
                        </ul>
                    </div>
                </mat-grid-tile>
                <mat-grid-tile class="perms-row" id="OccurrencePerms" [rowspan]=1.5>
                    <div>
                        <ul>
                            <li>
                                <h3>Occurrence Management Permissions</h3>
                            </li>
                            <li>
                                <mat-checkbox class="site-perm">Rare Species Administrator (can add/remove species)
                                </mat-checkbox>
                            </li>
                            <li>
                                <mat-checkbox class="site-perm">Can read Rare Species data for all collections
                                </mat-checkbox>
                            </li>
                        </ul>
                    </div>
                </mat-grid-tile>
                <mat-grid-tile class="perms-row" id="OccurrencePerms" [rowspan]=.5>
                    <div id="submit-div">
                        <button mat-raised-button color="primary">Update Permissions</button>
                    </div>
                </mat-grid-tile>

            </mat-grid-list>
        </mat-expansion-panel>
    </mat-accordion>
    <!--  <ul>
        <ng-container *ngFor="let user of userList">
            
        </ng-container>
    </ul>-->
</div>