<h1 mat-dialog-title>Delete comment</h1>
<div mat-dialog-content>
  Do you really want to delete this comment?
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close mat-dialog-close="false">No</button>
  <button mat-button mat-dialog-close cdkFocusInitial mat-dialog-close="true">Ok</button>
</div>