.container-check {
    width: 100%;
    padding: 1rem 2rem;
    min-height: 100vh;
    margin: 0 auto;
}

.row {
    width: 1200px;
    margin: 0 auto;
}

.checklist-list-container {
    display: relative;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.checklist-list {
    padding-top: 10px;
    // display: relative;
    width: 75%;
    margin-top: 1rem;
    float: left;
}

.checklist-detail {
    width: 100%;
}

.checklist-upload-taxon-container {
    width: 20%;
    height:auto;
    position: relative;
    top: 1rem;
    right: 0;
    float: right;
}

.showmore {
    color: green;
    cursor:pointer;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
        supported by Chrome, Edge, Opera and Firefox */
}

.access-links {
    position:absolute;
    top: 1rem;
    right: 1rem;
    width: 25%;
    max-width: 100%;
}

.game-select {
    padding: .4rem .2rem;
    border: none;
    color: #fff;
    background-color: #009e75;
    border-radius: .3rem;
    cursor: pointer;
    outline: none;
    outline: 0;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
}

.game-select > * {
    padding: .4rem .2rem;
    border: none;
    border-radius: .3rem;
    background-color: #00c08e;
}