@use "../../../styles/mixins.import";

#container {
    @include mixins.px(2rem);
    @include mixins.py(1.5ex);
}

#links {
    text-align: center;
    margin-top: 2rem;
}

.mat-form-field {
    width: 100%;
}
