ul {
    list-style-type: none;
    //text-decoration: underline;
}

h1 {
    text-decoration: underline;
    color: seagreen
}

li {
    color: black;
    margin-bottom: 10px;
    //text-decoration: none;
}

#listdiv {
    margin-top: 20px;
    border-top: 2px solid;
}