ul {
    list-style-type: none;
    //text-decoration: underline;
    width: 150px;
}

h2 {
    text-decoration: underline;
    color: seagreen;
}

li {
    color: black;
    margin-bottom: 10px;
    //text-decoration: none;
}

// li:not(:last-child) {
//     margin-right: 3px !important;
// }

#listdiv {
    margin-top: 20px;
    border-top: 2px solid;
}

li a {
    font-size: 96%;
}
