ul {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    vertical-align: text-top;
    position: absolute;
    top: 10px;
}

mat-grid-tile {
    //background-color: rgba(146, 139, 30, 0.61);
    //border-radius: 10px;
    vertical-align: top;
    height: fit-content;
}

mat-grid-tile div {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    //text-align: start;
    //align-items: flex-start;
    padding: 0px;

}

button {
    text-align: right;
    margin-left: auto;
    margin-right: 0;
}