@use "apps/ui/src/styles.scss";
@use "apps/ui/src/styles/theme.import";

.comment{
    padding: 0rem;
    margin-left: .4rem;
    margin-right: .4rem;
    border-radius: 0.55rem;
    outline: scale-color(theme.$primaryColor, $alpha: -80%) 1.5px solid;

    mat-icon{
        font-size: 28px !important;

    }
}

::ng-deep.accent{
    background: theme.$accentColor;
}

.comment-container {
    display: flex;
}

::ng-deep.primary{
    background: theme.$primaryColor;
}


#title{
    color:rgb(80, 80, 80);
    font-size: xx-large;
}

.commentsSection{
    box-shadow: none !important;
    padding: 0 0 1rem 0;
    border-radius: 0.5rem;
    width: 70vw;
}

.comment-filter {
    width: 30vw;
}

.paginator{
    border-radius: 0.5rem, 0.5rem, 0, 0;
}

.warning{
    background-color: #ffe082;
    color: #ffa000;
    margin-bottom: .5rem;

    mat-icon{
        font-size: 36px;
        padding-right: 1rem;
    }
}
