@use "../../../styles/mixins.import";
@use "../../../styles/theme.import";

#navbar {
    width: 100%;
    height: 100%;

    padding: 0.2rem 1.5rem;
    padding-left: 0.5rem;

}

#navbar div#left-links button {
    width: 20px;
    min-width:50px !important;
    font-size: 13px;
}

a {
    font-size: 14px;
    font-weight: 400 !important;
    text-decoration: none;
    color: white;
    cursor: pointer;

    &.mat-menu-item {
        &, &:hover {
            color: black;
        }
    }

    &:hover, &:active {
        color: lightgray;
    }

    width: max-content;
}

#logo-btn {
    height: 7rem;
}

#side-nav-toggle {
    height: 100%;
    margin-left: 0rem;
    color: white;

    .mat-icon{
        font-size: 32px;
        margin-right: 2rem;
    }
}

#lang-select {
    width: 3rem;
    padding: 0.5rem;


    .mat-icon{
        color: black;
    }

    &:hover {
        cursor: pointer;
        background-color: rgba(0, 0, 0, 0.05);
    }

}

#edit-select {
    width: 3rem;
    padding: 0.5rem;


    .mat-icon{
        color: white;
    }

    &:hover {
        cursor: pointer;
        background-color: rgba(0, 0, 0, 0.05);
    }

}


#user-menu {
    .mat-icon {
        margin-left: 1rem;
        display: inline;
        vertical-align: middle;
        font-size: 1rem;
    }
}

#divider {
    height: 50%;
    border-color: rgba(255, 255, 255, 0.5);
    margin: 0 0.5rem;
}

#notification-icon {
    font-size: 1.25rem !important;
}

::ng-deep .mat-menu-panel {
    max-width: fit-content !important;
}

.notification {
    max-width: 10rem;
    height: auto;

    margin-top: 0;
    margin-bottom: 0;

    padding-top: 0;
    padding-bottom: 0;

    p {
        text-overflow: ellipsis;
        overflow-x: hidden;

        margin: 0;
        padding: 0;
    }

    .createdAt {
        font-size: 0.5rem;
        color: rgb(100, 100, 100);
        text-align: right;
    }
}

#notification-actions {
    margin: 0.5rem 0;

    button {
        font-size: 0.6rem;
    }
}

#view-button {
    background-color: grey;
    border-radius: 0px;
}

#edit-button {
    background-color: #365896;
    border-radius: .3rem;
    box-shadow:rgba(0, 0, 0, 0.05);
}

.md-small-button {
    width: 40px!important;
    min-width: unset!important;
    text-align: center !important;
    padding: 0 !important;
}

.md-small-button span {
    text-align: center !important;
}

.mat-toolbar {
    background: white;
    color: black;
    height: 7rem;
}
