// Use this tool to pick a primary & complimentary accent color:
// https://material.io/design/color/the-color-system.html#tools-for-picking-colors

// App font
$font: Verdana, Geneva, sans-serif;

// Customize the colors here
$primaryColor: #0e6b88;
$accentColor: #882a0e;
$warnColor: #b00020;
$backgroundColor: #91BDB7;
