// Use this tool to pick a primary & complimentary accent color:
// https://material.io/design/color/the-color-system.html#tools-for-picking-colors

// App font
$font: Verdana, Geneva, sans-serif;

// Customize the colors here
$primaryColor: #008575;
$accentColor: #005285;
$warnColor: #f93e3e;
$backgroundColor: #e0f1f0;
