<div id="maindiv" fxLayout="row wrap" fxLayoutAlign="space-around">
    <ng-container *ngFor="let category of categories$ | async">
        <symbiota2-sitemap-unordered-list
            [categoryTitle]="category"
            [categoryLinks]="getCategoryLinks(category) | async"
        >
        </symbiota2-sitemap-unordered-list>
    </ng-container>
</div>
