#main{
    margin: 1rem;
}

.collectionCategory {
    margin-top: 1rem;
    margin-bottom: 3rem;
    padding: 1rem;
}

.collectionStats {
    position: fixed;
    background-color: transparent;
    width: 300px !important;
    height: auto;
    border-radius: 0.2rem;
    border-top-left-radius: 0rem;
    z-index: 20000 !important;
    max-width: 100%;
    transition: transform 1s ease;
}

.statsToggleBtn {
    padding: 0.3rem;
    background-color: darkgrey;
    color: white;
    cursor: pointer;
    border-radius: 0.2rem;
    border-bottom-left-radius: 0rem;
    transform: translateX(100%)
}

.disappear {
    transform: translateX(-105%);
}

.collectionStats select {
    padding: .3rem 1rem;
    border: 1px solid grey;
    outline: none;
}

.statsbox {
    padding: 1rem;
    background-color: #009e75;
    color: white;
    border-radius: 0.5rem;
    border-top-left-radius: 0rem;
    border-top-right-radius: 0rem;
    width: 300px;
    max-width: 100%;
}

#btns {
    text-align: end;
    margin-left: auto;

    button {
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }
}
