@use "apps/ui/src/styles.scss";
@use "apps/ui/src/styles/theme.import.scss";

a {
    text-decoration: none;
}

.mat-card {
    background: white;
    margin: 0.25rem;

    width: 18rem;
    height: 3rem;

    @media only screen and (max-width: 600px) {
        width: 100%;
    }

    .mat-card-content {
        padding: 0.1rem;
        width: 100%;
        height: 100%;
    }

    &:hover {
        filter: brightness(20%);
 /*       background: darken(background, 5%); */
        cursor: pointer;
    }
}

#logo {
    margin-right: 1rem;
}

#collectionName {
    &, & span {
        overflow-y: hidden;
        text-overflow: ellipsis;
        font-size: 11px;
        line-height: 11px;
    }
}
