#main{
    margin: 1rem;
}

#buttons {
    margin-top: 0rem;

    button {
        margin-left: 1rem;
        margin-right: 1rem;
    }

    button:first-child {
        margin-left: 0;
    }
}

.expansion-panel {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.mat-expansion-panel-content {
    font: unset;
}

.example-tree-invisible {
    display: none;
}

.mat-tree-node {
    min-height: 17px;
    height: 17px;
    display: inline;
}

.mat-nested-tree-node {
    min-height: 10px;
    height: 10px;
}

.mat-icon {
    width: 0px;
}
.example-tree ul,
.example-tree li {
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
    padding-left: 7px;
}

.name-autocomplete-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.taxonlink {
    text-decoration: none;
}

.name-autocomplete-full-width {
    width: 100%;
}

.symbiota2-panel-class {
    width:20px;
    max-width:20px;
    font-size: 10px;
}

.mat-icon-button {
    padding: 0;
    min-width: 10px;
    height: 0px;
    font-size: 20px;
    flex-shrink: 0;
    line-height: 0px;
}
