@use "apps/ui/src/styles.scss";
@use "apps/ui/src/styles/theme.import";

#main{
    box-shadow: inset 0px 150px 0 0 theme.$primaryColor;
    -webkit-box-shadow: inset 0px 150px 0 0 theme.$primaryColor;
}

#logo{
    background-color: white;
    padding: 8px;
    border: white 10px;
    border-radius: 50%;
}

.name_inst{
    margin-left: 1rem;
    height: 128px;
}

.col-header{
    margin-top: 65px;
}

.italic {
    color: #7D7D7D;
    font-style: italic;

}


#collectionLogo {
    margin-right: 1rem;
}

#collectionName {
    max-width: 600px;
    color: white;
    font-size: 36px;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 1rem;
    line-height: 110%;
}

#subTitle {
    mat-icon {
        color: #7D7D7D;
        padding-right: 0.5rem;
    }
}

#body{
     background-color: white;
}

.sidenav{
    display: flex;
    align-items: flex-end;
    justify-content: end;
    max-width: 200px;
    // background-color: pink;
}

.content{
    padding-right: 0.5rem;
    width: 800px;
    // background-color: palegreen;
}

.navList{
    list-style: none;
    padding-right: 1rem;
    font-weight: 400;
    font-size: medium;
    li{

        color: grey;
        margin-top: 1rem;
        justify-content: flex-end !important;
        text-align: end !important;
        cursor: pointer;
    }

    li:hover{
        color: theme.$primaryColor;
    }

    li:active{
        color: theme.$primaryColor;
    }
}
