
.checklist-taxa-card {
    min-height: 85vh;
}

.pagination > li > a {
    cursor: pointer;
}

.taxa-image-box {
    display: grid; 
    grid-template-columns: repeat(5, 1fr);
    width: 100%;
    row-gap: 50px;
    column-gap: 10px
}

.taxa-image-box img,
.taxa-image-box a {
    cursor: pointer;
}

.taxa-image-box img {
    width: 100%; 
    height: auto;
    max-height: 180px;
}

.taxa-image-box p {
    margin: 3px 0;
}

.taxa-image-row {
    // border: 1px solid rgb(173, 173, 173);
    text-align:center;
    border-radius: 3px;
    box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.2)
}