.main {
    padding: 2rem;
}

body {
    position: relative;
}

a {
    color: #009e75 !important;
    cursor: pointer;
    -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

a:link,
a:visited {
    color: #009e75;
}

a:hover,
a:active {
    text-decoration: underline !important;
}

.title-box {
    display: flex;
    gap: 1rem;
    align-items: center;
}

select {
    border-radius: .2rem;
    outline: none;
    padding: .5rem .8rem;
    border: none;
    cursor: pointer;
    box-shadow: 0 1px 2px rgba(0,0,0,0.3)
}

.title-box h1 {
    padding: 0;
    margin: 0;
}

span {
    color: rgb(87, 87, 87);
}

.image-box {
    // width: auto;
    width: 400px;
    // width: 330px;
    // height: 400px;
    // height: auto;
    height: 400px;
    margin: 0 auto;
    margin-top: -30px;
    // border-radius: .3rem;
    // border: none;
    margin-bottom: 40px;
    text-align: center;
    // box-shadow: 0 2px 4px rgba(0,0,0,0.3)
}

.image-box img {
    width: auto;
    max-width: 400px;
    height: auto;
    max-height: 400px;
    border-radius: .3rem;
    margin: 0 auto;
    cursor:zoom-in;
    box-shadow: 0 2px 4px rgba(0,0,0,0.3)
}

.image-controls {
    display: flex;
    width: 520px;
    margin: 1rem auto;
    margin-bottom: 0;
    justify-content: space-between;
}

.species-box {
    width: 320px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

// .species-select {
//     margin-top: -10px !important;
// }

.option-box {
    border-radius: .3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
    padding: .5rem 1.5rem;
    box-shadow: 0 2px 4px rgba(0,0,0,0.3)
}

.game-end {
    background-color: #00c08e;
    width: 900px;
    margin: 40px auto;
    border-radius: .3rem;
    padding: 2rem;
    box-shadow: 0 2px 4px rgba(0,0,0,0.3)
}

.game-end .score-title-text {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}

.game-end p {
    font-size: 1rem;
    color: #fff;
    line-height: 1.6;
}

.game-end .p-default-text {
    color: #fff;
}

.checklist_img_full_size_overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding-bottom: 4rem;
    bottom: 0;
    z-index: 99999;
    opacity: 0.98;
    text-align: center;
    background-color: rgb(0, 0, 0);
}

.checklist_img_full_size_overlay img {
    margin-top: 2rem;
    z-index: 999999;
    width: auto !important;
    height: auto !important;
    border-radius: .5rem;
    max-width: 88vw;
    overflow: scroll;
}

.checklist-image-close-button {
    height: 40px;
    width: 40px;
    background: none;
    border: 2px solid red;
    cursor: pointer;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    z-index: 9999999;
    position: fixed;
    left: 2rem;
    top: 7rem;
    align-items: center;
    // box-shadow: 0 2px 4px rgba(255,255,255, 0.7)
}

.checklist-image-close-icon {
    width: 22px;
    height: 22px;
    stroke: red;
    z-index: 9999999;
}