@use "apps/ui/src/styles.scss";
@use "apps/ui/src/styles/theme.import.scss";

.container {

    left: 0;
    right: 0;
    background-color: white;
}

::ng-deep.primary{
    background: theme.$primaryColor;
}

.navList{
    list-style: none;
    padding-right: 1rem;
    font-weight: lighter;
    li{

        color: grey;
        margin-top: 1rem;
        justify-content: flex-end !important;
        text-align: end !important;
    }

    li:hover{
        color: theme.$primaryColor;
    }

    li:active{
        color: theme.$primaryColor;
    }
}

::ng-deep.mat-list-item.mat-list-item-content{
    justify-content: end !important;
}

#content {
}

#description{
    resize: none;
    outline: none;
}

.mat-icon{
    padding-right: 1rem;
    height:36px !important;
    width:36px !important;
    font-size:36px !important;
    font-family: 'Material Icons' !important;
}

.medium-input{
    max-width: 248px;
}

.title{
    font-size: 28px !important;
    color:rgb(80, 80, 80);
}

.collectionCard{
    transition: none !important;
    box-shadow: none !important;
}

.contact{
    transition: none !important;
    box-shadow: none !important;
   // background-color: palevioletred;
}
.submit-button{
    margin-top: 2rem !important;
    margin-left: 1rem !important;
    height: 4rem;
}

// drag&drop feature style
.drop-container {
    border: 2px dashed gray;
    border-radius: 5px;
    padding: 25px;
    text-align: center;
    font-size: 18px;
    cursor: pointer;
  }

  .drop-container.drag-over {
    background-color: #eee;
  }
