<div id='main'>

    <div>
        <h1>{{"data-visualization.details.title" | translate}}</h1>
    </div>
    <force-graph></force-graph>
    <!-- <graph [nodes]="nodes" [links]="links"></graph> -->
</div>
