<div fxLayout="row wrap">
    <symbiota2-editable-text key='knowledge.graph.delete.message'></symbiota2-editable-text>&nbsp;<b>{{name}}</b>.
</div>
<div mat-dialog-actions>
    <button mat-button mat-raised-button color="primary" (click)="doAction()">{{'knowledge.graph.delete.action.label' | translate}}</button>
    <symbiota2-editable-text key='knowledge.graph.delete.action.label' hide='true'></symbiota2-editable-text>
    <button mat-button (click)="closeDialog()" mat-raised-button color="warn">{{'knowledge.graph.cancel.action.label' | translate}}</button>
    <symbiota2-editable-text key='knowledge.graph.cancel.action.label' hide='true'></symbiota2-editable-text>
</div>
