#create-role-container {
    width: 70rem;
    max-width: 100%;
    margin: 0 auto !important;
    padding-top: 1rem;
    margin: 2rem;
}

#create-role-card {
    margin: 0 auto !important;
}

.form-label {
    flex: 0 0 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.form-label h4 {
    margin: 0.9rem 0;
}

.name-field {
    width: 15rem !important;
}

.form-data {
    flex: 1 0 80%;
}

.form-data:first-child {
    width: 10rem;
    background-color: red;
}

mat-form-field {
    width: 100%;
}

#create-role-form {
    margin: 0 auto !important;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.permission-list {
    border: 2px inset #f8f8f8;
    padding: 1rem;
    min-height: 10rem;
    // box-shadow: 0 3px 6px rgba(0,0,0,0.4);
}

.permission-list mat-checkbox {
    margin: 0.4rem;
    padding: .6rem 1rem;
    border-radius: .4rem;
    box-shadow: 0px 2px 2px rgba(34, 108, 26, 0.3);
}